<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="e.exaple.parkingyaadmin">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_pya_admin"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_pya_admin_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.Light.NoActionBar">

        <activity android:name=".Dashboard" android:parentActivityName=".LoginMain" android:screenOrientation="portrait"
            android:label="Lista de reservas"
            android:theme="@style/AppTheme.parkingYa"></activity>

        <activity android:name=".LoginMain" android:screenOrientation="portrait"
            android:theme="@style/AppTheme.parkingYaFullScreen">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>

    </application>

</manifest>